html {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
}

@media (max-width: 640px) {
  html {
    font-size: 14px;
  }
}

body {
  margin: 0;
}

.page {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(../assets/logo.svg);
  background-position: center;
  background-size: cover;
}

.header,
.footer {
  position: fixed;
  text-align: center;
  white-space: nowrap;
}

@media (orientation: landscape) {
  .header,
  .footer {
    top: 50vh;
    margin: 0 8rem;
    color: #fff;
    transform: translate(0, -50%);
  }

  .header {
    right: 50vw;
  }

  .footer {
    left: 50vw;
  }
}

@media (orientation: portrait) {
  .header,
  .footer {
    left: 50vw;
    margin: 8rem 0;
    color: #000;
    transform: translate(-50%, 0);
  }

  .header {
    bottom: 50vh;
  }

  .footer {
    top: 50vh;
  }
}

.title {
  margin: 0;
  font-size: 3rem;
  font-weight: 400;
  line-height: 4rem;
}

.slogan {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
}

.deadline {
  margin: 0;
  font-size: 2rem;
  line-height: 3rem;
}

.coming-soon {
  margin: 0;
  font-size: 1rem;
  line-height: 2rem;
}
